<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vehicles</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Vehicles of RentACar <span th:text="${rentACar.name}">Name</span>
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/vehicles}">RentACars</a>
		<br/>
		<h3>Create Vehicle</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/vehicles/{code}/vehicleManager(code=${rentACar.code})}" th:object="${vehicle}" method="post">
	 		<label>Plate: </label> <input class="form-control" type="text" th:field="*{plate}" /> 
			<label>Kilometers: </label> <input class="form-control" type="number" th:field="*{kilometers}" />
			<label>Price: </label> <input class="form-control" type="number" th:field="*{price}" />
			<label>Type: </label><select th:field="*{vehicleClass}">
			  <option th:value="Car">Car</option>
			  <option th:value="Motorcycle">Motorcycle</option>
			</select>
				
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>Vehicles</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Plate</th>
 					<th>Kilometers</th>
 					<th>Price</th>
 					<th>Rentings</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vehicle: ${rentACar.vehicles}">
					<td th:text="${vehicle.vehicleClass}">Car</td>
					<td th:text="${vehicle.plate}">012</td>
 					<td th:text="${vehicle.kilometers}">SINGLE</td>
				 	<td th:text="${vehicle.price}">12.4</td>
				 	<td><a
						th:href="@{/vehicles/{code}/vehicleManager/{plate}/rentings(code=${rentACar.code},plate=${vehicle.plate})}">Rentings</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>