<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Invoices</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to Tax' Manager
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/taxpayers}">Tax Payers</a>
		<br/>
		<h3>Create Invoices</h3>
		<p class="text-danger" th:text="${error}">This is not good</p>
		<form class="form-inline" th:action="@{/taxpayers/{nif}/invoices(nif=${taxPayer.nif})}" th:object="${invoiceGreat}" method="post">

			<label th:if="${taxPayer.getType() == 'Buyer'}">Seller NIF: </label>
			<input th:if="${taxPayer.getType() == 'Buyer'}" class="form-control" type="text" maxlength="9" size="9" th:field="*{sellerNIF}" />
			<input th:if="${taxPayer.getType() == 'Buyer'}" class="form-control" type="hidden" th:value="${taxPayer.nif}" th:id="buyerNIF" th:name="buyerNIF"/>

			<label th:if="${taxPayer.getType() == 'Seller'}">Buyer NIF: </label>
			<input th:if="${taxPayer.getType() == 'Seller'}" class="form-control" type="text" maxlength="9" size="9" th:field="*{buyerNIF}" />
			<input th:if="${taxPayer.getType() == 'Seller'}" class="form-control" type="hidden" th:value="${taxPayer.nif}" th:id="sellerNIF" th:name="sellerNIF"/> 


			<label >Item Type: </label> <select th:field="*{itemType}">
			<option th:each="itemType : ${itemTypesList}" th:value="${itemType.name}" th:text="${itemType.name}"></option>
			</select>
		
			<label>Value: </label> <input class="form-control" type="number" th:field="*{value}" /> 
			<label>Date: </label> <input class="form-control" type="date" th:field="*{date}" />

			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>

		<h3 th:if="${taxPayer.getType() == 'Buyer'}">List of Buyer's Invoices</h3>
		<h3 th:if="${taxPayer.getType() == 'Seller'}">List of Seller's Invoices</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th th:if="${taxPayer.getType() == 'Buyer'}">Seller NIF</th>
					<th th:if="${taxPayer.getType() == 'Seller'}">Buyer NIF</th>
					<th>Item Type</th>
					<th>Value</th>
 					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoiceData: ${taxpayerinvoices}">
					<td th:if="${taxPayer.getType() == 'Buyer'}" th:text="${invoiceData.sellerNIF}">500500500</td>
					<td th:if="${taxPayer.getType() == 'Seller'}" th:text="${invoiceData.buyerNIF}">500500500</td>
					<td th:text="${invoiceData.itemType}">Rua Nova</td>
					<td th:text="${invoiceData.value}">10</td>
					<td th:text="${invoiceData.date}">2017-06-05</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>